@model ImprovementOpportunityApp.Models.Data.Forum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suggestion.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suggestion.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpVotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownVotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ForumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
