@model IEnumerable<ImprovementOpportunityApp.Models.ForumViewModel>
@using ImprovementOpportunityApp.AppCommons;

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Serach Results for @ViewBag.Query</h2>

<form method="get" action="~/Forum/Search">
    <div class="row">
        <div class="col-sm-3 pull-right">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search Forum">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownVotes)
            </td>
            <td>
                @if (item.IsActive)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ForumId }) |*@

                @if (item.IsActive)
                {
                    <a href="~/Forum/Messages/@item.ForumId">View/Add Comments</a>
                    @*@Html.ActionLink("View", "Forum", "Messages", new { id = item.ForumId })*@
                }
                @if (User.IsInRole(ApplicationRoles.DEPARTMENT_HEAD) && Convert.ToInt32(ViewBag.DepartmentId) == item.DepartmentId)
                {
                    @:|

                    if (item.IsActive)
                    {
                        <a href="~/Forum/Update/@item.ForumId">Deactivate</a>
                    }
                    else
                    {
                        <a href="~/Forum/Update/@item.ForumId">Activate</a>
                    }
                }
            </td>
        </tr>
    }

</table>

