    @model ImprovementOpportunityApp.Models.Data.Suggestion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suggestion Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Department
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            Topic
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Name)
        </dd>

        <dt>
            Suggested By
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Images)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Images)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Links)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Links)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            Has Reviewed
        </dt>
        <dd>
            @if (Model.HasReviewed)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </dd>

        <dt>
            Has Considered
        </dt>
        <dd>
            @if (Model.HasConsidered)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </dd>

    </dl>
</div>
<p>
    @if (!Model.HasConsidered)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.SuggestionId })
        @:|
    }

    @Html.ActionLink("Back to List", "Index")
</p>
