@model IEnumerable<ImprovementOpportunityApp.Models.Data.Suggestion>
@using ImprovementOpportunityApp.AppCommons

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (User.IsInRole(ApplicationRoles.EMPLOYEE))
{
    <h2>Your Improvement Opportunity Suggesions</h2>
    <p>
        @Html.ActionLink("Add Suggestion", "Create", new { }, new { @class = "btn btn-xs btn-default" })
    </p>
}
else
{
    <h2>Improvement Opportunity Suggestions</h2>
}
<br />
<table class="table">
    <tr>
        <th>
            Department
        </th>
        <th>
            Topic
        </th>
        <th>
            Suggested By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Links)
            </th>*@
        <th>
            Date Added
        </th>
        <th>
            Last Updated
        </th>
        <th>
            Has Reviewed
        </th>
        <th>
            Has Approved
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Images)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Links)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @if (item.HasReviewed)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>
            <td>
                @if (item.HasConsidered)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SuggestionId })
                @if (User.IsInRole(ApplicationRoles.EMPLOYEE))
                {
                    if (!item.HasConsidered)
                    {
                        @:|
                        @Html.ActionLink("Edit", "Edit", new { id = item.SuggestionId })
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.SuggestionId })
                    }
                }
                else if (User.IsInRole(ApplicationRoles.DEPARTMENT_HEAD))
                {
                    if (!item.HasConsidered)
                    {
                        @:|
                        @Html.ActionLink("Approve", "Approve", new { id = item.SuggestionId })
                    }
                    else
                    {
                        @:| Forum Started
                    }
                }
            </td>
        </tr>
    }

</table>
