@model IEnumerable<ImprovementOpportunityApp.Models.ForumViewModel>
@using ImprovementOpportunityApp.AppCommons;

@{
    ViewBag.Title = "Forums";
}

<h2>Forums</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownVotes)
            </td>
            <td>
                @if (item.IsActive)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ForumId }) |*@

                @if (item.IsActive)
                {
                    <a href="~/Forum/Messages/@item.ForumId">Comment</a>
                    @*@Html.ActionLink("View", "Forum", "Messages", new { id = item.ForumId })*@
                }
                @if (User.IsInRole(ApplicationRoles.DEPARTMENT_HEAD))
                {
                    @:|

                    if (item.IsActive)
                    {
                        <a href="~/Forum/Update/@item.ForumId">Deactivate</a>
                    }
                    else
                    {
                        <a href="~/Forum/Update/@item.ForumId">Activate</a>
                    }
                }
            </td>
        </tr>
    }

</table>
