@model IEnumerable<ImprovementOpportunityApp.Models.Data.ForumMessage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forum.ForumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyMessageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Links)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Forum.ForumId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyMessageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Links)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Images)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ForumMessageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ForumMessageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ForumMessageId })
        </td>
    </tr>
}

</table>
