@model ImprovementOpportunityApp.Models.AdminViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Panel</h2>
<hr />

<div class="row">
    <div class="col col-sm-8">
        <canvas id="lineChart"></canvas>
        <div class="text-center chart-ios m-t-10 font-bold">Total IOs last week starting on <span id="startDay"></span></div>
    </div>
    <div class="col col-sm-4">
        <canvas id="doughnutChart"></canvas>
        <div class="text-center chart-ios m-t-10 font-bold">Total IOs department wise</div>
    </div>
</div>

<br />

<h3>Users</h3>

<table class="table">
    <tr>
        <th>
            Department
        </th>
        <th>
           Full Name
        </th>
        <th>
           Email
        </th>
        <th>
            User Name
        </th>
        <th>
            User Role
        </th>
        <th>
            Date Added
        </th>
        <th>
            Last Updated
        </th>
        <th>
            Is Active
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @if (item.IsActive)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>

            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", "Account", new { id = item.Id })*@
                @if (item.IsActive)
                {
                    <a href="~/Admin/UpdateUserStatus/@item.Id">Deactivate</a>
                }
                else
                {
                    <a href="~/Admin/UpdateUserStatus/@item.Id">Activate</a>
                }
            </td>
        </tr>
    }

</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

@section scripts { 
<script>

    var Weeks = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

    var date = new Date();
    var dayOfWeek = date.getDay();

    var options = {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric"
    };

    date.setDate(date.getDate() - 6);

    $('#startDay').text(date.toLocaleDateString("en-us", options));

    var tillCurDaysArray = Weeks.slice(0, dayOfWeek);
    var fromCurDaysArray = Weeks.slice(dayOfWeek, Weeks.length);

    var WeekDays = fromCurDaysArray.concat(tillCurDaysArray);

    var weeklyIos = [];

    @{
        foreach (var io in Model.WeeklyIOs)
        {
            @:weeklyIos.push(@io);
        }
    }

    /**
     * This is line graph. See doc at http://www.chartjs.org/docs/latest/charts/line.html
     */
    var lineCanvas = document.getElementById('lineChart').getContext('2d');
    var chart = new Chart(lineCanvas, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: WeekDays,
            datasets: [{
                label: "Weekly Imporvement Opportunities",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: weeklyIos
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });

    var departments = [];
    var departmentIos = [];

    @{
        foreach (var entry in Model.IoDepartmentWise)
        {
            @:departments.push('@entry.Key');
            @:departmentIos.push(@entry.Value);
        }
      }
    
    /**
    * This is pie graph of type donought. See doc at http://www.chartjs.org/docs/latest/charts/line.html
    */
    var doughnutChart = document.getElementById('doughnutChart').getContext('2d');
    var myDoughnutChart = new Chart(doughnutChart, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: departmentIos,
                backgroundColor: ['#ff6384', '#36a2eb', '#cc65fe']
            }],
            labels: departments
        },
        options: {}
    });
</script>
}